main {
  padding: 3em;
  margin: 0 auto;
  max-width: 20rem;
}

.action, .value {
  display: inline-block;
}

.value {
  margin: 1.5em;
}

.action {
  padding: 1em;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 10px;
}